<div class="modal-header label-warning">
  <h2 class="modal-title" id="invitite">Setting</h2>
  <button
    type="button"
    class="btn btn-transparent close"
    aria-label="Close"
    (click)="close()"
  >
    <fa-icon cardicon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>
<div>
  <div class="modal-body pr-2 pl-2">
    <div class="form-group">
      <div class="title">Language</div>
      <div class="group-input">
        <select>
          <option [value]="language">
            {{ language == "en_us" ? "English(en_us)" : "" }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer login-footer">
    <button class="btn btn-cancel" (click)="close()">Cancel</button>
    <button class="btn btn-success" (click)="save()">Save</button>
  </div>
</div>
